# Supabase - obtenés estas claves en supabase.com al crear tu proyecto
NEXT_PUBLIC_SUPABASE_URL=https://rszwkwqljvpjqwxlhsif.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_GYRCxpPFKERy7sEgGptCTA_a4NdsHCo

# Stripe - obtenés estas claves en dashboard.stripe.com
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_aqui
STRIPE_SECRET_KEY=sk_test_aqui
STRIPE_WEBHOOK_SECRET=whsec_aqui

# URL base de la app
NEXT_PUBLIC_APP_URL=http://localhost:3000
